html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size:12px;
	color:#333;
}

#container {
	height: 100%;
}

.infoWindow .title{
	font-size:14px;
	font-weight:bold;
	line-height:120%;
	padding:0;
	margin:0
}